<!-- <p>cart works!</p> -->
<div class="listcart-header border-bottom ">
  <div class="mx-3  d-flex">
    <a [routerLink]="['/Menu']" class="mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" style="color: darkorange;" width="25" height="25" fill="currentColor"
        class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
      </svg>
    </a>
    <strong class="mt-2 mx-2">
      <p>Món đã chọn</p>
    </strong>
  </div>

</div>

<div style="overflow: scroll; scrollbar-width: none; overflow-y: scroll; height:430px;">
  <div *ngFor="let item of items" class=" rounded w-100 shadow border  my-2">
    <div class="">
      <app-product-in-cart (notify)="onNotify($event)" [product]="item"></app-product-in-cart>
    </div>
  </div>
  <div *ngIf="items.length == 0" class="d-flex justify-content-center align-items-center"
    style="height: 430px; width: 100%;">

    <div class="align-items-center">
      <img src="./img/call-to-action.png" style="height: 200px; width: 250px;" alt="">
      <h5>Giỏ hàng đang rỗng !</h5>
    </div>
  </div>
</div>

<section class="shopping-cart dark mt-2" *ngIf="items && items.length > 0">
  <!-- 
      <div class="summary-item"><span class="text">Tạm tính</span><span class="price">₫{{total}}</span></div>
              <div class="summary-item"><span class="text">Giảm giá</span><span class="price">{{discount}}</span></div>
              <div class="summary-item"><span class="text">Tổng tiền</span><span class="price">₫{{total}}</span></div>
        -->

  <div class="content-fluid  w-100 h-100 shadow">

    <div style="font-size: 14px; color: rgb(107, 107, 107);"
      class="py-1 px-2 border-bottom d-flex justify-content-between">
      <span class="text">Tạm tính</span><span class="price">{{formatPrice(total)}}</span>

    </div>
    <div style="font-size: 14px; color: rgb(107, 107, 107)"
      class="py-1 px-2 border-bottom  d-flex justify-content-between">
      <span class="text">Giảm giá</span><span class="price">{{formatPrice(discount)}}</span>

    </div>
    <div style="font-size: 18px; " class="py-1 px-2   d-flex justify-content-between">

      <span class="text">Tổng tiền</span><span class="price" style="color: darkorange;">{{formatPrice(total)}}</span>

    </div>

    <div style="font-size: 22px; " class="py-2  container  d-flex justify-content-center">
      <button type="button" class="btn w-100 btn-warning text-white w3-button w3-large"
        style="background-color: orange;" (click)="checkOrder()">Đặt đơn -
        {{formatPrice(total)}}</button>
    </div>

  </div>

  <div class="content-fluid  w-100 h-100 shadow">
  </div>
</section>
<div id="id01" class="w3-modal">
  <!-- Modal Xác nhận đặt hàng -->
  <div class="w3-modal-content w3-card-4 w3-animate-zoom p-3 rounded-2" 
      [ngClass]="{'d-none': !isOrderConfirm}"
       style="max-width:600px">
    <div class="tittle-confilm text-center">
      <img src="./img/chamthan.png" width="100px" alt="">
      <h6 class="fw-bold">Xác nhận đặt hàng?</h6>
      <span style="font-size: 0.8em; line-height: 10px;">
        Đơn hàng của bạn sẽ được gửi thông báo đến nhân viên sau khi bạn xác nhận!
      </span>
    </div>
    <div class="box-btn d-flex justify-content-end pt-2">
      <button class="w3-button text-white rounded-2 py-3" 
              style="background-color: rgba(241, 159, 71, 0.987);" 
              (click)="callOrder()">Xác nhận</button>
      <button class="w3-button rounded-2 text-white py-3" 
              onclick="document.getElementById('id01').style.display='none'" 
              type="button" 
              style="background-color: rgba(239, 25, 54, 0.831);">Hủy</button>
    </div>
  </div>

  <!-- Modal Xác nhận gộp hàng -->
  <div class="w3-modal-content w3-card-4 w3-animate-zoom p-3 rounded-2" 
  [ngClass]="{'d-none': !isMerge}"
       style="max-width:600px">
    <div class="tittle-confilm text-center">
      <img src="./img/questionmark.png" width="100px" alt="">
      <h6 class="fw-bold">Đã có đơn hàng trước đó?</h6>
      <span style="font-size: 0.8em; line-height: 10px;">
        Bàn của bạn trước đó đã có đơn hàng khác. Bạn chắc chắn muốn gộp vào đơn trước đó?
      </span>
    </div>
    <div class="box-btn d-flex justify-content-end pt-2">
      <button class="w3-button text-white rounded-2 py-3" 
              style="background-color: rgba(133, 193, 225, 0.987);" 
              (click)="callOrder()">Xác nhận</button>
      <button class="w3-button rounded-2 text-white py-3" 
              onclick="document.getElementById('id01').style.display='none'" 
              type="button" 
              style="background-color: rgba(239, 25, 54, 0.831);">Hủy</button>
    </div>
  </div>

  <!-- Modal Đặt hàng thành công -->
  <div class="w3-modal-content w3-card-4 w3-animate-zoom p-3 rounded-2" 
       [ngClass]="{'d-none': !isConfirmed }" 
       style="max-width:600px">
    <div class="tittle-confilm text-center">
      <img src="./img/successcheft.png" width="170px" alt="">
      <div class="title-success">
        <h5 class="fw-bold">Đặt hàng thành công!</h5>
        <i style="font-size: 0.9em;">Đơn hàng của bạn sẽ được xử lý trong tích tắc.</i>
      </div>
    </div>
    <div class="box-btn d-flex justify-content-end pt-2">
      <button onclick="document.getElementById('id01').style.display='none'" 
              type="button" 
              class="w3-button rounded-3 text-white" 
              style="background-color: rgba(122, 234, 127, 0.891);">Xác nhận</button>
    </div>
  </div>

  <!-- Modal Đặt bàn không thành công -->
  <div class="w3-modal-content w3-card-4 w3-animate-zoom p-3 rounded-2" 
       [ngClass]="{'d-none': !iserror}" 
       style="max-width:600px">
    <div class="tittle-confilm text-center">
      <img src="./img/warning.png" width="170px" alt="">
      <div class="title-success">
        <h5 class="fw-bold">Đặt bàn không thành công!</h5>
        <i style="font-size: 0.9em;">Bàn này hiện tại đang được phục vụ bởi người khác.</i> <br>
        <i style="font-size: 0.9em;">Quý khách vui lòng đến tại quầy hoặc gọi nhân viên để được hổ trợ trực tiếp.</i>
      </div>
    </div>
    <div class="box-btn d-flex justify-content-end pt-2">
      <button onclick="document.getElementById('id01').style.display='none'" 
              type="button" 
              class="w3-button rounded-3 text-white" 
              style="background-color: rgba(239, 25, 54, 0.831);">Xác nhận</button>
    </div>
  </div>

  <!-- Modal Đặt bàn không thành công -->
  <div class="w3-modal-content w3-card-4 w3-animate-zoom p-3 rounded-2" 
       [ngClass]="{'d-none': !errorShift}" 
       style="max-width:600px">
    <div class="tittle-confilm text-center">
      <img src="./img/warning.png" width="170px" alt="">
      <div class="title-success">
        <h5 class="fw-bold">Đặt bàn không thành công!</h5>
        <i style="font-size: 0.9em;">Hiện tại cửa hàng đang giao ca vui lòng chờ trong giây lại.</i> <br>
        <i style="font-size: 0.9em;">Quý khách vui lòng đến tại quầy hoặc gọi nhân viên để được hổ trợ trực tiếp.</i>
      </div>
    </div>
    <div class="box-btn d-flex justify-content-end pt-2">
      <button onclick="document.getElementById('id01').style.display='none'" 
              type="button" 
              class="w3-button rounded-3 text-white" 
              style="background-color: rgba(239, 25, 54, 0.831);">Xác nhận</button>
    </div>
  </div>
</div>
