<div class="row p-0 m-0 position-relative">
  <div class="col-8 m-0 p-0">
    <nav class="navbar navbar-expand-lg py-3 nav-category">
      <div class="container-fluid">
        <ul class="nav d-flex flex-nowrap align-items-center gap-2">
          <li class="nav-item">
            <a type="button" class="btn btn btn-outline-secondary rounded-1 px-lg-4 px-md-3 px-2 fs-lg-6 fs-md-6 fs-7"
              [ngClass]="{'btn-active': activeCategoryId === null}" (click)="getAllProducts()">Tất cả</a>
          </li>
          <li class="nav-item" *ngFor="let category of listCategories">
            <a type="button" class="btn btn-outline-secondary rounded-1 px-lg-4 px-md-3 px-2 fs-lg-6 fs-md-6 fs-7"
              [ngClass]="{'btn-active': activeCategoryId === category.idCategory}"
              (click)="getByIdCategory(category.idCategory)">{{category.nameCategory}}</a>
          </li>

        </ul>
      </div>
    </nav>


    <div class="row p-3">
      <div class="container-listproducts" style="height: calc(93.2vh - 120px); overflow-y: auto;">
        <div class="box-listproducts">
          <div class="row p-0 m-0">
            <!-- start item product -->
            <div
              class="item-product col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-2 position-relative d-flex align-items-center"
              *ngFor="let product of listProducts">
              <div  class="box-item-product">
                <div  class="img-product p-3 border border-secondary rounded-3">
                  <div *ngIf="product.imgFood">
                    <img  src="{{hostingImg}}{{product.imgFood}}" alt="" class="w-100">
                  </div>
                  <img *ngIf="product.imgFood==null " src="./img/noImage.jpg"  class="card-img-top w-100 h-100"  alt="...">
                  <div class="position-absolute" *ngIf="product.discount" [ngClass]="{'box-sale': product.discount}">
                    <span class="tittle-discount">-{{product.discount}}%</span>
                  </div>
                  <!-- <div class="buttons-overlay" [ngClass]="{'d-none': order?.statusOrder == 'Waiting' || !order}">
                                        <button class="btn btn-sm mx-2 me-2 btn-dark rounded-3" (click)="addProductToTemp(product)"><i class="bi bi-plus-circle-dotted fs-5" ></i></button>
                                      </div> -->
                  <div class="buttons-overlay">
                    <button class="btn btn-sm mx-2 me-2 btn-dark rounded-3" (click)="clickProduct(product)"><i
                        class="bi bi-plus-circle-dotted fs-5"></i></button>
                  </div>
                </div>
                <div class="box-name-product text-center p-1" style="line-height: 20px;">
                  <span class="fw-bold" style="font-size: 0.9em;">{{product.nameFood}}</span>
                </div>
              </div>


            </div>

            <!-- end item product -->

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-4 p-0 m-0 container-orderdetails pb-2" [ngClass]="{'bg-orderdetail': order?.statusOrder == 'Waiting'}"
    style="box-shadow: 0px 2px 5px 3px rgb(171, 167, 167);">
    <div class="box-orderdetails " style="font-size: 0.9em;">
      <div class="box-idorder-nametable bg-secondary d-flex justify-content-around p-1 fw-bold text-white">
        <span class="p-2" *ngIf="order"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-cog">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M12 17h-6v-14h-2" />
            <path d="M6 5l14 1l-.79 5.526m-3.21 1.474h-10" />
            <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M19.001 15.5v1.5" />
            <path d="M19.001 21v1.5" />
            <path d="M22.032 17.25l-1.299 .75" />
            <path d="M17.27 20l-1.3 .75" />
            <path d="M15.97 17.25l1.3 .75" />
            <path d="M20.733 20l1.3 .75" />
          </svg> Mã đơn hàng #{{order.idOrder}}</span>
        <span *ngIf="listOrderDetails.length > 0"
          class="p-2 border border border-primary rounded-3 px-4 border-0 text-primary"
          style="background-color: rgba(218, 233, 243, 0.936);"><svg xmlns="http://www.w3.org/2000/svg" width="19"
            height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop-pin">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v6" />
            <path
              d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
            <path d="M19 18v.01" />
            <path d="M7 20h5" />
            <path d="M9 16v4" />
          </svg> {{order?.nameArea}} - {{order?.nameTable}}</span>
        <span *ngIf="itemTable" class="p-2 border border border-primary rounded-3 px-4 border-0 text-primary"
          style="background-color: rgba(218, 233, 243, 0.936);"><svg xmlns="http://www.w3.org/2000/svg" width="19"
            height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop-pin">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v6" />
            <path
              d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
            <path d="M19 18v.01" />
            <path d="M7 20h5" />
            <path d="M9 16v4" />
          </svg> {{itemTable.nameArea}} -
          {{itemTable.nameTable}}</span>
      </div>
      <div class="box-search">
        <form class="d-flex p-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
        </form>
      </div>
      <div class="box-listproducts" *ngIf="listOrderDetails.length > 0">
        <div class="container-order-product" style="height: calc(60vh - 120px); overflow-y: auto;">
          <!--Start Item product -->
          <div class="container item-product border-secondary py-3 px-2"
            style="font-size: 0.9em; background-color: #f1f1f1; border-bottom: 1px dotted;"
            *ngFor="let item of listOrderDetails">
            <div class="row d-flex align-items-center">
              <div class="col-1 ms-1" style="width: 12px;">
                <button class="btn btn-sm text-danger p-0 " data-bs-toggle="modal"
                  data-bs-target="#modalRemoveOrderdetail" (click)="selectOrderDetail(item)"><i
                    class="bi bi-trash3"></i></button>
              </div>
              <div class="col-4 ms-1">
                <div class="row">
                  <span class="fw-bold">{{item.nameFood}}</span>
                </div>
                <span>{{formatPrice(item.price)}}</span>
              </div>
              <div class="col-2">
                <span *ngIf="item.discount" class="text-danger fw-bold">-{{item.discount}}%</span>
              </div>
              <ng-container *ngIf="order; else elseTemplate">
                <div class="col-3 text-end justify-content-end d-flex align-items-center pe-0">
                  <button class="rounded-5 p-1 py-0 btn-success btn"
                    (click)="updateQuantity(order!.idOrder, item.idOrderDetail, item.quantity + 1)"><i
                      class="bi bi-plus-circle-fill"></i></button>
                  <input type="number" class=" form-control text-center mx-1 px-1" style="font-size: 0.9em;"
                    [value]="item.quantity" (change)="onQuantityChange(order!.idOrder, item.idOrderDetail, $event)" />
                  <!-- <span class="mx-2 d-flex justify-content-around" style="width: 15px;">{{item.quantity}}</span> -->
                  <button class="rounded-5 p-1 py-0 btn-danger btn"
                    (click)="updateQuantity(order!.idOrder, item.idOrderDetail, item.quantity - 1)"><i
                      class="bi bi-dash-circle-fill"></i></button>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="col-3 text-end justify-content-end d-flex align-items-center pe-0">
                  <button class="rounded-5 p-1 py-0 btn-success btn"
                    (click)="updateQuantityTemp(item, item.quantity+1)"><i class="bi bi-plus-circle-fill"></i></button>
                  <span class="mx-2 d-flex justify-content-around" style="width: 15px;">{{item.quantity}}</span>
                  <button class="rounded-5 p-1 py-0 btn-danger btn"
                    (click)="updateQuantityTemp(item, item.quantity-1)"><i class="bi bi-dash-circle-fill"></i></button>
                </div>
              </ng-template>

              <div class="col-2 d-flex justify-content-end align-items-center ps-0">
                <span class="fw-bold">{{formatPrice(item.totalPrice)}}</span>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalRemoveOrderdetail" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content px-3">
                  <div class="modal-body">
                    <h1 class="modal-title m-0 fw-bold" style="font-size: 2em;" id="exampleModalLabel">Hủy món <svg
                        xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-off">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10l-6 6v4h4l6 -6m1.99 -1.99l2.504 -2.504a2.828 2.828 0 1 0 -4 -4l-2.5 2.5" />
                        <path d="M13.5 6.5l4 4" />
                        <path d="M3 3l18 18" />
                      </svg></h1>
                    <input type="text" class="form-control" style="font-size: 1.2em;" placeholder="Nhập lý do hủy món">
                  </div>
                  <div class="modal-footer border border-0 pt-0">
                    <button type="button" class="btn btn-danger " data-bs-dismiss="modal"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                        <path d="M9 12h12l-3 -3" />
                        <path d="M18 15l3 -3" />
                      </svg></button>
                    <button type="button" class="btn btn-success rounded-3" data-bs-dismiss="modal"
                      (click)="removeOrderDetails(selectedOrderDetail!.idOrderDetail)"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dashed-check">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8.56 3.69a9 9 0 0 0 -2.92 1.95" />
                        <path d="M3.69 8.56a9 9 0 0 0 -.69 3.44" />
                        <path d="M3.69 15.44a9 9 0 0 0 1.95 2.92" />
                        <path d="M8.56 20.31a9 9 0 0 0 3.44 .69" />
                        <path d="M15.44 20.31a9 9 0 0 0 2.92 -1.95" />
                        <path d="M20.31 15.44a9 9 0 0 0 .69 -3.44" />
                        <path d="M20.31 8.56a9 9 0 0 0 -1.95 -2.92" />
                        <path d="M15.44 3.69a9 9 0 0 0 -3.44 -.69" />
                        <path d="M9 12l2 2l4 -4" />
                      </svg> Xác nhận</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Item product -->
        </div>



        <div class="container-bill-calculation">
          <div class="box-posvisional-invoice-1" style="font-size: 0.8em; background-color: #fdc9b1;">
            <div class="container">
              <div class="row px-3 py-1">
                <div class="d-flex justify-content-between  fw-bold">
                  <span>Tạm tính</span>
                  <ng-container *ngIf="order; else elseTemplate">
                    <span>{{formatPrice(order.total)}}</span>

                  </ng-container>
                  <ng-template #elseTemplate>
                    <span>{{formatPrice(tempTotal)}}</span>
                  </ng-template>

                </div>
                <div class="d-flex justify-content-between fw-bold">
                  <span>Thuế</span>
                  <span>0</span>
                </div>
                <div class="d-flex justify-content-between fw-bold">
                  <span>Mã giảm giá</span>
                  <span>0 %</span>
                </div>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="container px-4 pt-2 box-posvisional-invoice-2 text-center">
            <div class="d-flex justify-content-between align-items-center">

              <div class="box-button-printer">
                <button type="button" (click)="getInvoice()" class="btn border py-1" data-bs-toggle="modal"
                  data-bs-target="#invoice">
                  <img
                    src="https://png.pngtree.com/png-vector/20191011/ourmid/pngtree-printer-icon-png-image_1817556.jpg"
                    width="19px" alt="">
                  <span class="d-block m-0 py-0" style="font-size: 0.7em;">In tạm tính</span>
                </button>
              </div>
              <div class="title-pricetotal">
                <p class="m-0 p-0 text-end fw-bold"><span>Thành tiền</span></p>
                <h6 *ngIf="order" style="color: #3cd22f;" class="fw-bold ">{{formatPrice(order.total)}}</h6>
                <h6 *ngIf="!order" style="color: #3cd22f;" class="fw-bold ">{{formatPrice(tempTotal)}}</h6>
              </div>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="col-12 container row text-center align-items-center py-0">
            <div class="col-5">
              <span style="font-size: 0.9em;">Phương thức thanh toán :</span>
            </div>
            <div class="col-7">
              <select [(ngModel)]="paymentPaythod" class="form-select form-select-sm bg-secondary-subtle"
                aria-label="Default select example">
                <option selected value="cash">Tiền mặt</option>
                <option value="ewallet">VN Pay</option>

              </select>
            </div>


            <div class="container px-3 pt-2 box-posvisional-invoice-3" *ngIf="order?.statusOrder != 'Waiting'">
              <div class="container-button">
                <div class="row align-items-center">
                  <div class="col-2">
                    <nav class="navbar navbar-dark">
                      <div class="btn-group dropup">
                        <button class="navbar-toggler border dropdown-toggle pe-0"
                          style="box-shadow: 0px 0px 5px 1px #d9d9d9;" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="p-0 bi bi-list fw-bold fs-2" style="color: #d9d9d9;"></i>
                        </button>

                        <ul class="dropdown-menu" style="font-size: 0.9em;">
                          <li>  <button
                            class="navbar-toggler btn btn-outline-secondary border w-100 mt-1"
                            style="box-shadow: 0px 0px 5px 1px #d9d9d9; color: #000;"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#mergeTables"
                            aria-controls="staticBackdropLabel"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            (click)="getAllArea()"
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" width="19"
                          height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"
                          class="text-success-emphasis icon icon-tabler icons-tabler-outline icon-tabler-layers-intersect-2">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M8 4m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                          <path
                            d="M4 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                          <path d="M9 15l6 -6" />
                        </svg> Gộp bàn
                          </button>
                            
                          
                           </li>
                          <li>
                            

                            <button 
                            class="navbar-toggler btn btn-outline-secondary border w-100 "
                            style="box-shadow: 0px 0px 5px 1px #d9d9d9 ; color: #000;"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            aria-controls="staticBackdropLabel"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            (click)="getAllArea()"
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" width="19"
                          height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"
                          class="text-warning-emphasis icon icon-tabler icons-tabler-outline icon-tabler-cut">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M7 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                          <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                          <path d="M9.15 14.85l8.85 -10.85" />
                          <path d="M6 4l8.85 10.85" />
                        </svg> Tách bàn
                          </button>
                          
                            
                            </li>
                          <li><button  class="navbar-toggler btn btn-outline-secondary border w-100 mt-1"
                            style="box-shadow: 0px 0px 5px 1px #d9d9d9; color: #000;"
                            type="button" (click)="openModalCancel()"><svg
                                xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"
                                fill="currentColor"
                                class="text-danger icon icon-tabler icons-tabler-filled icon-tabler-trash-x">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" />
                                <path
                                  d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" />
                              </svg> Hủy đơn</button></li>
                        </ul>
                      </div>
                    </nav>
                  </div>

                  <div class="col-10" *ngIf="!order">
                    <button (click)="saveOrder(itemTable!.idTable)"
                      class="btn form-control btn-primary border-0 py-3 rounded-4 text-primary fw-bold"
                      style="font-size: 1em;  background-color: #cde4f7;"><span><svg xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-checks">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M7 12l5 5l10 -10" />
                          <path d="M2 12l5 5m5 -5l5 -5" />
                        </svg> Lưu (F9)</span></button>
                  </div>
                  <div class="col-10 px-3 pe-0" *ngIf="order">

                    <button class="btn form-control btn-primary py-3 rounded-4 fw-bold" data-bs-toggle="modal"
                      data-bs-target="#paymentModal" style="font-size: 0.9em;"><span><svg
                          xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                          <path d="M3 10l18 0" />
                          <path d="M7 15l.01 0" />
                          <path d="M11 15l2 0" />
                        </svg> Thanh toán ( F10 )</span></button>
                  </div>

                </div>
              </div>
            </div>


            <!--  -->
            <div class="container px-3 pt-2 box-posvisional-invoice-3" *ngIf="order?.statusOrder == 'Waiting'">
              <div class="row align-items-center">
                <div class="col-6">
                  <button class="btn form-control btn-primary py-3 rounded-4 fw-bold" style="font-size: 0.9em;"
                    (click)="confirmOrder(order?.idOrder ?? null)">
                    <span *ngIf="!order?.idOrderMain"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 11l3 3l8 -8" />
                        <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                      </svg> Xác nhận</span>
                    <span *ngIf="order?.idOrderMain"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 11l3 3l8 -8" />
                        <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                      </svg> Gộp đơn</span>
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn form-control btn-danger py-3 rounded-4 fw-bold" style="font-size: 0.9em;"
                    (click)="openModalCancel()"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-circle-letter-x">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M12 2c5.523 0 10 4.477 10 10s-4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10m2.447 5.106a1 1 0 0 0 -1.341 .447l-1.106 2.21l-1.106 -2.21a1 1 0 0 0 -1.234 -.494l-.107 .047a1 1 0 0 0 -.447 1.341l1.774 3.553l-1.775 3.553a1 1 0 0 0 .345 1.283l.102 .058a1 1 0 0 0 1.341 -.447l1.107 -2.211l1.106 2.211a1 1 0 0 0 1.234 .494l.107 -.047a1 1 0 0 0 .447 -1.341l-1.776 -3.553l1.776 -3.553a1 1 0 0 0 -.345 -1.283z" />
                      </svg> Hủy
                      đơn</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-listproducts d-flex justify-content-center align-items-center" style="height: 400px;"
        *ngIf="listOrderDetails.length === 0">
        <i>Chưa có đơn hàng nào!</i>
      </div>
    </div>
  </div>

  <!-- Modal yêu cầu nhập lý do hủy -->
  <div id="cancelModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 p-4 rounded-2 position-absolute d-block"
      style="max-width:600px; top: 30%; left: 27%;">
      <div class="title-success">
        <h5 class="fw-bold">Hủy đơn</h5>
        <input type="text" class="form-control " placeholder="Nhập lý do hủy đơn" [(ngModel)]="cancelReason"
          id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
      </div>
      <div class="box-btn d-flex justify-content-end pt-2">
        <button (click)="cancelModalClose()" type="button" class="w3-button rounded-3 text-white"
          style="background-color: rgba(239, 25, 54, 0.831);"><svg xmlns="http://www.w3.org/2000/svg" width="20"
            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
            <path d="M9 12h12l-3 -3" />
            <path d="M18 15l3 -3" />
          </svg></button>
        <button (click)="handleCancelAction()" type="submit" class="w3-button rounded-3 text-white mx-2"
          style="background-color: rgba(71, 174, 242, 0.642);"> <svg xmlns="http://www.w3.org/2000/svg" width="20"
            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-checks">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 12l5 5l10 -10" />
            <path d="M2 12l5 5m5 -5l5 -5" />
          </svg> Xác nhận</button>
      </div>
    </div>
  </div>

        
  <!-- Modal -->
  <div class="modal modal-xl fade" id="invoice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">


          <div class="container" id="body_invoice">
            <div class="text-center">
              <br>
              <span class="h3 pt-5">Nhà hàng ABC</span><br>
              <span>Đường số 5, ngã 5, Khu công nghiệp sơn trà</span> <br>
              <span>Sđt : 0708000789 - 0708888886</span>
            </div>
            <div class="text-center">
              <span class="h3">Hoá đơn bán hàng</span><br>
              <span class="h4">bàn A1</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="h3">Thu Ngân : Nguyễn văn a</span><br>
              <span class="h4">Mã hoá đơn : 12345</span>
            </div>
            <div style="min-height: 300px;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 300px;">Tên món</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">đơn giá</th>
                    <th scope="col">Giảm</th>
                    <th scope="col">Thành tiền</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let element of listDataInvoice">
                    <td scope="row">{{element.nameFood}}</td>
                    <td scope="row">{{element.quantityOrder}}</td>
                    <td scope="row">{{ formatPrice( element.priceFood)}}</td>
                    <td scope="row">{{formatPrice( (( element.priceFood*element.discountFood)/100 )
                      *element.quantityOrder)}}</td>
                    <td scope="row">{{formatPrice(element.totalPriceDetailFood) }}</td>
                  </tr>

                </tbody>
              </table>

            </div>

            <div class="d-flex justify-content-between">
              <span class="h3">Tổng :</span><br>
              <span *ngIf="listDataInvoice" class="h4">{{ formatPrice(listDataInvoice[0].totalOrder) }}</span>
            </div>
            <div class="text-center">

              <span class="h4">Cảm ơn quý khách, Hẹn gặp lại !</span> <br>

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="downloadPdf()" class="btn btn-outline-primary btn-sm"><svg
              xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-printer">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
              <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
              <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
            </svg></button>
          <button type="button" class="btn text-danger btn-sm" data-bs-dismiss="modal"><svg
              xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
              <path d="M9 12h12l-3 -3" />
              <path d="M18 15l3 -3" />
            </svg></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->


  <!-- Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận thanh toán cho đơn hàng này?</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="paymentOrder()" data-bs-dismiss="modal" class="btn btn-primary">Đồng ý</button>
        </div>
      </div>
    </div>
  </div>

</div>


 <!-- ManagerOrder Tách Bàn -->
 <div 
 class="modal fade bd-example-modal-xxl"
 id="staticBackdrop"
 data-bs-backdrop="static"
 data-bs-keyboard="false"
 tabindex="-1"
 aria-labelledby="staticBackdropLabel"
 aria-hidden="true"
 >
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title fs-5" id="staticBackdropLabel">
         Tách bàn/Chuyển bàn:
       </h6>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
         (click)="reloadData()"
       ></button>
     </div>
     <div class="modal-body row">
       <div class="col-12">
         <p class="text-danger">
           Bạn chọn bàn đã có order, món sẽ tách bàn này và chuyển qua bàn mới
         </p>
       
       </div>
       <div class="col-sm-6">
         <p>Bàn cũ</p>
         <input
           class="col-sm-12 mb-1"
           type="text"
           value="{{ order?.nameTable }}"
           readonly
         />
         <div class="mx-auto" style="overflow-y: scroll; height: 350px;">
           <div
           class="item-product  d-flex justify-content-around border-secondary p-3"
           style="
             font-size: 0.9em;
             background-color: #f1f1f1;
             border-bottom: 1px dotted; "
           *ngFor="let newitem of listOrderDetails; let i = index">
           
               <span class="me-1 fw-bold col-5  mt-1"
               >{{ newitem.nameFood }} </span>
               <div class="col-1 me-1 mt-1">
                 <p class="fw-bold border rounded-circle bg-primary text-center text-light"
                 >{{ newitem.quantity }}</p>
               </div>  
             <input class="form-control"(change)="updateQuantityOrder(i, $event,newitem.idFood)"  min="0" type="number" />
 
 
         </div>
         </div>
         
       </div>
       <div class="col-sm-6">
         <div class="d-flex justify-content-between">
           <p class="col-sm-6">Bàn mới - Khu</p>
 
           <select
               class="col-sm-5 mb-1"
               [(ngModel)]="selectedAreaId"
               (change)="getTable()"
             >
               <option
                 class="text-center"
                 *ngFor="let areaItem of listArea"
                 [value]="areaItem.idArea"
               >
                 {{ areaItem.nameArea }}
               </option>
             </select>
             
         </div>
         
           <select
             class="col-sm-12 "
             style="height: 27px"
             [(ngModel)]="selectedTableId"
           >
             <option
               *ngFor="let tableItem of listTable"
               [value]="tableItem.idTable"
             >
             
               {{ tableItem.nameTable }}
             </option>
           </select>
           
           <div class="mx-auto mt-1" style="overflow-y: scroll; height: 350px;">
             <div
             class="item-product  d-flex justify-content-around border-secondary p-3"
             style="
               font-size: 0.9em;
               background-color: #f1f1f1;
               border-bottom: 1px dotted; "
                 *ngFor="let newItem of seletedListFood; let i = index">
                 <span class=" fw-bold mt-1 col-7">{{ newItem.nameFood }}</span>
                 
                 <div class="col-1 me-1 mt-1">
                     <p class="fw-bold border rounded-circle bg-primary text-center text-light">{{ newItem.quantity }}</p>
                 </div>
         
                 <button class="btn btn-outline-danger col-md-2" (click)="removeFromNewTable(i)">
                     Xóa
                 </button>
             </div>
         </div>
         
       </div>
       
     </div>
     <div class="modal-footer">
       <button type="button" (click)="reloadData()" class="btn btn-secondary" data-bs-dismiss="modal">
         Close
       </button>
       <button type="button"  class="btn btn-primary" (click)="createNewOrder()">
         Tách bàn mới
       </button>
     </div>
   </div>
 </div>
 </div>
 <!-- ManagerOrder Gộp Bàn -->
 <div
 class="modal fade bd-example-modal-xxl"
 id="mergeTables"
 data-bs-backdrop="static"
 data-bs-keyboard="false"
 tabindex="-1"
 aria-labelledby="staticBackdropLabel"
 aria-hidden="true"
 >
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title fs-5" id="staticBackdropLabel">
         Gộp bàn:
       </h6>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close" (click)="reloadData()"
       ></button>
     </div>
     <div class="modal-body row">
       <div class="col-12">
         <p class="text-danger">
           Bạn chọn bàn đã có order và chọn bàn để gộp, sau đó tiến hành gộp 2 bàn lại với nhau.
         </p>
       </div>
       <div class="col-sm-6">
         <p>Bàn cũ</p>
         <input
           class="col-sm-12 mb-1"
           type="text"
           value="{{ order?.nameTable }}"
           readonly
         />
         <div class="mx-auto" style="overflow-y: scroll; height: 370px;">
           <div
           class="item-product  d-flex justify-content-around border-secondary p-3"
           style="
             font-size: 0.9em;
             background-color: #f1f1f1;
             border-bottom: 1px dotted; "
           *ngFor="let newitem of listOrderDetails; let i = index">
           
               <span class="me-1 fw-bold col-5  mt-1"
               >{{ newitem.nameFood }} </span>
               <div class="col-1 me-1 mt-1">
                 <p class="fw-bold border rounded-circle bg-primary text-center text-light"
                 >{{ newitem.quantity }}</p>
               </div>  
       
           
         </div>
         </div>
         
       </div>
       <div class="col-sm-6">
         <div class="d-flex justify-content-between">
           <p class="col-sm-6">Bàn gộp - Khu</p>
           <select
             class="col-sm-5 mb-1"
             [(ngModel)]="selectedAreaId"
             (change)="getTableOpen()"
           >
             <option
               class="text-center"
               *ngFor="let areaItem of listArea"
               [value]="areaItem.idArea"
             >
               {{ areaItem.nameArea }}
             </option>
           </select>
         </div>
           
           <select
             class="col-sm-12 mb-2"
             style="height: 27px"
             [(ngModel)]="selectedTable"
             (change)="onTableSelectChange(selectedTable)"
           >
             <option
               *ngFor="let tableItem of listTable"
               [ngValue]="tableItem"
               
             >
 
               {{ tableItem.nameTable }}
             </option>
           </select>
           
           <div class="mx-auto" style="overflow-y: scroll; height: 370px;">
             <div
                 class="item-product border-secondary d-flex justify-content-around p-3"
                 style="font-size: 0.9em; background-color: #f1f1f1; border-bottom: 1px dotted;"
                 *ngFor="let newItem of listOrderDetailsTableMerge; let i = index">
                 <span class="ms-3 fw-bold mt-1 col-7">{{ newItem.nameFood }}</span>
                 
                 <div class="col-1 me-1 mt-1">
                     <p class="fw-bold border rounded-circle bg-primary text-center text-light">{{ newItem.quantity }}</p>
                 </div>
         
             </div>
         </div>
         
        
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" (click)="reloadData()" class="btn btn-secondary" data-bs-dismiss="modal">
         Close
       </button>
       <button type="button" class="btn btn-primary" (click)="mergeOrder()" >
         Gộp bàn
       </button>
     </div>
   </div>
 </div>
  </div>
