

<div class="row container-fluid w-100 h-100 " >
  
  <div class="col-2  py-4 my-4   h-100" >
      <div class=" w-100 ">
      <div class=" ">
      <button routerLink="/admin/manager/managerFood/manager" type="button" [class.active]="currentView=='managerFood'" (click)="activeButton('managerFood','')" class="btn btn-lg text-start shadow border  btn-light my-2 w-100">Quản lý sản phẩm</button>
      <button routerLink="/admin/manager/managerUser/managerUser" type="button" [class.active]="currentView=='managerUser'" (click)="activeButton('managerUser','')" class="btn btn-lg text-start  shadow border  btn-light my-2 w-100">Quản lý nhân viên</button>
      <button routerLink="/admin/manager/managerOrder" [class.active]="currentView=='managerOrder'" (click)="activeButton('managerOrder','')" type="button" class="btn btn-lg text-start shadow border  active btn-light my-2 w-100">Quản lý đơn hàng</button>
      <button routerLink="/admin/manager/managerTable" [class.active]="currentView=='managerTable'" (click)="activeButton('managerTable','')" type="button" class="btn btn-lg text-start shadow border  active btn-light my-2 w-100">Quản lý bàn</button>
      <button routerLink="/admin/manager/managerVoucher" [class.active]="currentView=='managerVoucher'" (click)="activeButton('managerVoucher','')" type="button" class="btn btn-lg text-start shadow border  active btn-light my-2 w-100">Quản lý Voucher</button>
      <button type="button" routerLink="/admin/manager/managerReport" [class.active]="currentView=='managerReport'" (click)="activeButton('managerReport','')" class="btn btn-lg text-start shadow border  btn-light my-2 w-100">Thống kê</button>
      
    </div>
      <div class="my-2"></div>
      <div class=" pt-4 mt-5 ">
          <!-- <button type="button" class="btn btn-lg text-start shadow border  btn-light my-2 w-100">Tổng quan</button> -->
          <!-- <button type="button" routerLink="/admin/manager/managerReport" [class.active]="currentView=='managerReport'" (click)="activeButton('managerReport','')" class="btn btn-lg text-start shadow border  btn-light my-2 w-100">Thống kê</button> -->
        
      </div>
  </div>
  </div>

    <div class="col-10  "  >
      <div class=" shadow my-3 p-2 p-3 h-100 ">
        <router-outlet></router-outlet>
      </div>
      
    </div>

</div>