
<div>

<nav class="navbar navBar_Custom  navbar-expand-lg px-5 bg-body-tertiary shadow">
  <div class="container-fluid text-white">
    <a class="navbar-brand text-white " href="/admin/staff/tableorder_staff/tableorder"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item">
          <a class="nav-link active text-white ms-5 fs-4" aria-current="page" href="/admin/staff/tableorder_staff/tableorder">Trang chủ </a>
        </li>
     
   
      </ul>
      
          <div  class="me-5 ">
          <ul class="navbar-nav mb-2 me-5 mb-lg-0">
              <li>
                  <!-- <a class="nav-link text-white " href="#" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                        </svg>
                    </a> -->
              </li>
              <li class="nav-item dropdown">
                 
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                        </svg>
                  </a>
                  <ul class="dropdown-menu ">
                    <li><button class="dropdown-item text-dark" data-bs-toggle="modal" data-bs-target="#reportModal" (click)="getDatainfoCheckout()">Kết ca</button></li>
                    <li><a class="dropdown-item text-dark" routerLink="/admin/manager/managerFood/manager" >Quản Lý</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a (click)="logout()" class="dropdown-item text-danger" >Đăng Xuất</a></li>
                  </ul>
                </li>
            </ul>
          
          </div>
   
    </div>
  </div>
</nav>
<!-- +++++++ end navbar++++++ -->
 <div class="w-100   z-2   " style="height: 600px;">
   <router-outlet />

 </div>
</div>

<!-- =============modal ket ca================ -->

  <!-- Button trigger modal -->
  <!-- <div class="container mt-5">
    <button type="button" (click)="getDatainfoCheckout()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal">
        Xem Báo Cáo Kết Ca
    </button>
</div> -->

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Báo Cáo Kết Ca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h6>Giờ đầu ca: <span class="text-primary"> {{ datainfoCheckout.dateStart | date:'dd/MM/yyyy HH:mm' }}</span></h6>
                        <div class="mb-2">
                            <label>Tiền đầu ca (1):</label>
                            <input type="text" class="form-control money-input" value="{{formatPrice(datainfoCheckout.cashAtStart)}}" readonly>
                        </div>
                        <div class="mb-2">
                            <label>Doanh thu:</label>
                            <input type="text" class="form-control" value="{{formatPrice(datainfoCheckout.shiftRevenue)}}" readonly>
                        </div>
                        <div class="mb-2">
                            <label>Tiền mặt cần nộp (2):</label>
                            <input type="text" class="form-control" value="{{formatPrice(datainfoCheckout.cashAtStart+datainfoCheckout.cashAmountEnd)}}" readonly>
                        </div>
                        <div class="mb-2">
                            <label>Ngân hàng:</label>
                            <input type="text" class="form-control" value="{{formatPrice(datainfoCheckout.bankAmountEnd)}}" readonly>
                        </div>
                        <div class="mb-2">
                            <label>Đang phục vụ:</label>
                            <input type="text" class="form-control" value="{{formatPrice(datainfoCheckout.totalServing)}}" readonly>
                        </div>
                        <div class="mb-2">
                          <br> <br> <br>
                          <div class="total mt-5">
                            Tổng tiền đang nhập: <b>{{ totalAmount | currency: 'VND' }}</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Giờ hiện tại: <span class="text-danger">{{ currentTime | date:'dd/MM/yyyy HH:mm' }}</span></h6>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mệnh giá</th>
                                    <th>Số tờ</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let denomination of denominations">
                                <td>{{ denomination.value | currency: 'VND' }}</td>
                                <td>
                                  <input
                                    class="form-control" 
                                    type="number" 
                                    [(ngModel)]="denomination.quantity"
                                    value="{{absNum(denomination.quantity)}}"
                                    (input)="calculateTotal()"
                                    min="0"
                                  />
                                </td>
                              </tr>
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="endShift()" class="btn btn-success">Kết ca</button>
                <button type="button" (click)="endDay()" class="btn btn-success">Kết ngày</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
